# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
venv/
env/

# Archivos de configuración local
*.env

# Archivos de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
